.card{
    width: 400px;
    border: none;
    border-radius: 10px;
     
    background-color: #fff;
    }
    .container{
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
    }
    button {
        margin-left: 20px;
    }
    h4,span,p {
        margin-left: 20px;
    }